<!DOCTYPE html>
<html>
<head>
  <title>Zeevi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag    'foundation' %>
  <%= stylesheet_link_tag    'login' %>
  <%= stylesheet_link_tag    'signup' %>
  <%= stylesheet_link_tag    'style' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'vendor/jquery' %>
  <%= javascript_include_tag 'vendor/foundation.min' %>
  <%= javascript_include_tag 'vendor/modernizer' %>


  <%= csrf_meta_tags %>
</head>
<body>
	<!--<h1>Layout Main</h1>-->

<%= yield %>

</body>
</html>
